[Desktop Entry]
Name=Sunbird Community Edition
Comment=Calendar and Scheduling Program
GenericName=Personal Organizer
Exec=mozilla-sunbird
Icon=mozilla-sunbird
Terminal=false
Type=Application
Categories=GTK;Network;Office;Calendar;
MimeType=text/calendar;text/x-vcalendar;
# vi: encoding=utf-8
